body {
    color: white;
    background: url("feuilles.png") repeat , url("pingouin.png") center fixed ;


}





p
{
  ;
}



h1
{
text-align: justify;
    color: rebeccapurple;
}



.a{
    text-align: justify;

}